@model famiLYNX.Models.LoginViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm()) {
    <div style="background-color: #68889A; color: #FCF1D1; padding-bottom: 20px; min-width: 500px;" , class="col-md-4">

        <h2>Please Enter Login Information</h2>
        <br />
        <div>
            @Html.LabelFor(m => m.UserName, "User Name")
            @Html.TextBoxFor(m => m.UserName, htmlAttributes: new { @class = "form-control" })
            <div>&nbsp;</div>
            @Html.LabelFor(m => m.Password, "Password")
            @Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "form-control" })
            <div>&nbsp;</div>
            <input type="submit" value="Log In" class="btn" />
        </div>
    </div>

}