@model famiLYNX.Models.Message

@{
    ViewBag.Title = "Message";
}

<!-- I wanted to use this view as a subview nested in the conversation
    view, but I don't know if that will work.-->
<div>
    <p>@Html.DisplayNameFor(model => model.Text)</p>
</div>