<nav>
    <ul>
        <li><a href="#">Create New Thread</a></li>
        <li><a href="#">Search</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Log Off</a></li>
    </ul>
</nav>
