@model famiLYNX.Models.FamilyViewModel

<header>
    <h1>@Model.FamilyName</h1>
</header>

<section id="main">
    @{
        for (var i = 0; i < Model.ConversationList.Count(); i++) {
            string side = "";
            string boxHeight = "";
            boxHeight = ((Model.ConversationList[i].MessageList.Count() * 35) + 60).ToString();
            if (i % 2 == 0) { side = "left"; } else { side = "right"; }
            <div class="boxthread @side" style="height: @(boxHeight)px;">
                @Html.Action("DisplayConversation", "Conversations", new { conversationId = Model.ConversationList[i].Id, familyId = Model.FamilyId, familyName = Model.FamilyName, userName = Model.UserName })
            </div>
        }
    }
</section>
