@model famiLYNX.Models.Family

@{
    ViewBag.Title = "Index";
}

<!--This view will display the family name as well as all the conversations
    applicable to that user in a grid format.  There will also be navigation
    links on the left side in order to create new conversations or other 
    things related to that family.  The user profile could be accessible
    here as well, but that might be needed on a level higher up.-->

<div>
    <p>
        @Html.DisplayFor(model => model.OrgName)
    </p>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
